/* src/App.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--bg-color);
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
}

.App-header {
  background-color: #282c34;
  min-height: 1vh;
  display: flex;
  align-items:center;
  justify-content:left;
  color: rgb(9, 0, 0);
}

.App-content {
  flex: 1;
  padding: 1rem;
}

.App-footer {
  background-color: #282c34;
  padding: 1rem;
  color: white;
}


/* Media Queries */

/* Styles for tablets and larger mobile devices */
@media (min-width: 768px) {
  .App-header {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2rem;
  }

  .App-content {
    padding: 2rem;
  }
}

/* Styles for laptops and larger screens */
@media (min-width: 1024px) {
  .App-header {
    padding: 0 4rem;
  }

  .App-content {
    padding: 2rem 4rem;
  }
}

/* Styles for very small screens */
@media (max-width: 480px) {
  .App-header {
    flex-direction: column;
    align-items: center;
  }

  .App-content {
    padding: 1rem;
  }
}